* {
	box-sizing: border-box;
	-webkit-font-smoothing: antialiased;
	text-rendering: optimizeLegibility;
	scroll-behavior: smooth;
}
table td:hover {
    background:#ff0000;
    }
html,
body {
	height: 100%;
}

body {
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
	font-family: monospace, sans-serif;
	background: #e1e1e1;
	margin: 0;
}

.layer {
	position: relative;
	width: calc(6 * 1em);
	height: calc(4 * 1.5em);
	font-family: monospace;
	display: grid;
	grid-template-columns: repeat(6, 1em);
	grid-template-rows: repeat(4, 1.5em);
	line-height: 1.5;
	user-select: none;
	font-size: 4em;
}

.layer .word-group {
	position: absolute;
	top: 0;
	left: 0;
	display: grid;
	grid-template-columns: repeat(6, 1em);
	grid-template-rows: repeat(4, 1.5em);
	white-space: pre;
	margin: auto;
	justify-content: center;
}

.layer .cell {
	margin: auto;
	width: 1em;
	height: 1em;
	display: flex;
	align-items: center;
	justify-content: center;
	font-weight: 1000;
	color: #0001;
	text-transform: uppercase;
	font-family: monospace;
}
.layer .word-group:nth-child(1) .cell:nth-child(19) {
	background: #222;
	border-radius: 4px;
	position: relative;
	overflow: hidden;
	width: 0.9em;
	height: 0.9em;
}
.layer .word-group:nth-child(1) .cell:nth-child(19)::before {
	content: "";
	display: block;
	width: 25%;
	height: 25%;
	position: absolute;
	left: 25%;
	top: 25%;
	border-top-left-radius: 100%;
	box-shadow: -1.4px -1.4px 0px 1.4px #ccc;
	transform-origin: 100% 100%;
	animation: rot8 16s ease-in-out infinite;
	animation-delay: 1.4s;
}
@keyframes rot8 {
	0% {
		rotate: 0deg;
	}
	18% {
		rotate: 0deg;
	}
	25% {
		rotate: 90deg;
	}
	43% {
		rotate: 90deg;
	}
	50% {
		rotate: 180deg;
	}
	68% {
		rotate: 180deg;
	}
	75% {
		rotate: 270deg;
	}
	93% {
		rotate: 270deg;
	}
	100% {
		rotate: 360deg;
	}
}

@property --g-ang {
	syntax: "<angle>";
	initial-value: 0deg;
	inherits: false;
}

.word-group {
	--g-ang: 0deg;
	background: conic-gradient(
		at 0% 100%,
		transparent calc(var(--g-ang) - 270deg),
		#333 calc(var(--g-ang) - 270deg),
		#333 calc(var(--g-ang) - 4deg),
		transparent var(--g-ang)
	);
	background-clip: text;
	color: transparent;
	animation: rot-ang 16s ease-in-out infinite;
}
@keyframes rot-ang {
	25% {
		--g-ang: 360deg;
	}
	25.000001% {
		--g-ang: 0deg;
	}
	100% {
		--g-ang: 0deg;
	}
}

.word-group:nth-child(1) {
	animation-delay: 0;
}
.word-group:nth-child(2) {
	animation-delay: 4s;
}
.word-group:nth-child(3) {
	animation-delay: 8s;
}
.word-group:nth-child(4) {
	animation-delay: 12s;
}

.content-wrap {
	display: flex;
	justify-content: center;
	align-items: center;
	padding: 1em 2em;
	margin: 1em;

	--lgrad: linear-gradient(#000 0 0);
	--thickness: 0.4em;
	--sz: 2em;
	border: solid var(--thickness) #0003;
	mask: var(--lgrad) padding-box,
		conic-gradient(at var(--sz) var(--sz), #0000 75%, #000 0%) 0 0 /
			calc(100% - var(--sz)) calc(100% - var(--sz));
	transition: border 0.4s ease-in-out;
}
.side-section {
	width: 100%;
	max-height: 300px;
	max-width: 0px;
	overflow: hidden;
	color: #333;
	transition: all 1s ease-in-out;
	opacity: 0;
}
.content-wrap:hover {
	border: solid var(--thickness) #000;
}
.content-wrap:hover .side-section {
	margin-left: 4em;
	max-width: 1000px;
	opacity: 1;
}
h2 {
	font-size: 2em;
	line-height: 1;
	margin: 0;
	padding: 0;
}
p {
	max-width: 400px;
	font-size: 1.2em;
	font-weight: 500;
}
.button {
	font-size: 1.2em;
	padding: 0.6em 2em;
	background: #3330;
	color: #333;
	width: fit-content;
	border: 3px solid #333;
	cursor: pointer;
}
.button:hover {
	background: #333;
	color: #fff;
}

@media screen and (max-width: 600px) {
	.content-wrap {
		flex-direction: column;
		padding: 1em;
		font-size: min(3vw, 0.8em);
	}
	.side-section {
		margin-left: 0;
		width: 100%;
		max-height: 0px;
		max-width: 0px;
	}
	.content-wrap:hover .side-section {
		margin-left: 0em;
		margin-top: 2em;
		max-height: 1000px;
		opacity: 1;
		padding: 2em;
	}
}
body:hover {
    background-color: #000;
}